body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #d9d9d9;
    padding: 20px;
    width: 300px;
}

.header {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.todo-list {
    max-height: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.todo-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.todo-item input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.delete-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    margin-left: 10px;
}

#captureButton {
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}
.camera-button {
    background: none;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    padding: 0; /* 버튼 안쪽 여백 제거 */
}

.camera-button svg {
    width: 20px;
    height: 20px;
    fill: black; /* SVG 아이콘 색상 설정 */
}

